<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Express-Validator</title>
    <style>
        body {
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: gray;
        }
    </style>


</head>

<body>
    <h1>Express-Validator</h1>
    <form action="/registrar" method="post">
        <div class="form-group">
            <label>nombre</label>
            <input type="text" id="name" name="name">
        </div>


        <div class="form-group">
            <label>edad</label>
            <input type="text" id="edad" name="edad">
        </div>

        <button type="submit" class="btn btn-primary">registrar</button>
    </form>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>

</html>